<div class="topbar">
  <h3><%= link_to( t(:product_name), dashboard_path ) -%></h3>
  <ul>
    <% if current_user %>
      <li><%= link_to("Manage Accounts", accounts_path) -%></li>
    <%- end -%>

    <li>Switch to <%= use_mobile_browsing?() ?  "Desktop" : "Mobile" -%> browsing experiance</li>
  </ul>

  <ul class="nav secondary-nav">
    <li class="menu">
      <a href="#" class="menu">More</a>
      <ul class="menu-dropdown" style="display: none";>
        <li><%= link_to "About", pages_about_path -%></li>
        <li><%= link_to "API", pages_api_path -%></li>
        <li><%= link_to "Technical Construction", pages_about_technical_path -%></li>
        <% if current_user -%>
          <li><%= link_to "Sign Out", destroy_user_session_path,  :method=>'delete' -%></li>
        <%- end -%>
      </ul>
    </li>
  </ul>

</div>

<!-- <div class="clear"></div> -->

