<%= render partial: "about" -%>

<p><%= t :product_name -%> was created by <%= link_to "Ryan Wilcox", "http://www.flavors.me/rwilcox" -%> to solve this problem.</p>

<p>Ryan Wilcox has, for the last 8 years, consulted under the moniker <%= link_to "Wilcox Development Solutions", "http://www.wilcoxd.com" -%></p>

<p>Wilcox Development Soluions does website development for its clients, mostly using <%= link_to "Ruby on Rails", "http://www.rubyonrails.org" -%> (which we've been using for the last 3 years). Wilcox Development Solutions also has a long history in programming desktop apps for OS X (and an iPhone app or two), and crossplatform apps. (Ryan did desktop programming for the Mac for 8 years before getting a gig as a Rails developer)</p>