<h2>Ruby on Rails</h2>
<p>This website was created with <%= link_to "Ruby on Rails 3.1", "http://www.rubyonrails.org" -%>. The Ruby on Rails community is great, and has many open source tools, some of which have been used in the construction of this site.</p>

<h3>Technologies used include:</h3>
<p>
<ul>
<li>Ruby 1.9.2</li>
<li><%= link_to "Devise", "https://rubygems.org/gems/devise" -%>, for user management / authentication</li>
<li><%= link_to "OmniAuth", "https://rubygems.org/gems/omniauth" -%>, for the "Sign in with Google/Twitter" links</li>
<li><%= link_to "Formtastic 2.0", "https://rubygems.org/gems/formtastic" -%>, for easy, and awesome, form generation</li>
<li><%= link_to "Show For", "https://rubygems.org/gems/show_for" -%>, for easy, and awesome, pages display a resource (account, transaction)</li>
<li><%= link_to "RABL", "https://rubygems.org/gems/rabl" -%>, for our API</li>
<li><%= link_to "RSpec", "https://rubygems.org/gems/rspec" -%>, for testing</li>
<li><%= link_to "Machinist", "https://rubygems.org/gems/machinist" -%>, for object factories (for use in testing)</li>
<li><%= link_to "HAML", "https://rubygems.org/gems/haml" -%>, but primarily for layouts and forms (following the philosophy of <%= link_to("HAML sucks for content", "http://chriseppstein.github.com/blog/2010/02/08/haml-sucks-for-content/") -%>)</li>
</ul>
</p>

<h3>Blog articles and research in the course of development</h3>

<p>At the time of the initial construction of this project, many of the components used (Rails 3.1, formtastic, machinist) were pre-relase beta versions. This caused some bumps in the road, and I ended up writing two blog entries during the course of constructing this app.</p>

<ol>
<li><%= link_to "Creating a gem that works on both Rails 3.0.x and Rails 3.1.x", "http://rwilcox.tumblr.com/post/8920453306/creating-a-gem-that-works-on-both-rails-3-0-x-and-rails" -%></li>
<li><%= link_to "SASS variables and the Rails 3.1 asset pipeline", "http://rwilcox.tumblr.com/post/9038701675/sass-variables-and-the-rails-3-1-asset-pipeline" -%></li>
</ol>

<h2>CSS/HTML/JavaScript</h2>

<p>On the front end this site uses the following technologies:</p>

<p>
<ul>
<li><%= link_to "Twitter Bootstrap (Parts)", "http://twitter.github.com/bootstrap/" -%>, for some useful site patterns (like the top nav bar)</li>
<li><%= link_to "Blueprint CSS", "http://blueprintcss.org/" -%>, for CSS layout helpers</li>
<li><%= link_to "HTML5 Boilerplate", "http://html5boilerplate.com/" -%></li>
<li><%= link_to "jQuery", "http://jquery.com" -%>, for DOM manipulation and AJAX functionality</li>
<li><%= link_to "SASS", "http://sass-lang.com/" -%>, for sanity while writing CSS</li>
</ul>
</p>
 