= semantic_form_for( [current_account, @transaction] ) do |f|
  - f.inputs do
    = f.input :description
    = f.input :amount, as: :number, input_html: {size: 8, maxlength: 9}
    = f.buttons do
      = f.commit_button
