<h1>Listing transactions for <%= current_account.name -%></h1>

<form id="live_search">
    <label for="search">Live Search:</label>
    <input type="search" id="search" results=3>
</form>

<%= button_to 'New Transaction', new_account_transaction_path(current_account), class: "btn large", method: :get %>

<% if @filter_to_previous_month -%>
  <p class="warning">Transactions are limited to just the transactions in the last month.
<% else %>
  <p class="tip">All transactions are being shown.
<% end %>

<%= link_to "Toogle Transaction Limiting",
  	filter_transactions_to_previous_month_settings_path(
  	filter_transactions: !@filter_to_previous_month) -%>
</p>

<table>
  <thead><tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Active On</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>

  <tbody>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.description %></td>
    <td><%= number_to_currency(transaction.amount) %></td>
    <td><%= transaction.active_on -%></td>
    <td><%= link_to 'Show', account_transaction_path(current_account, transaction) %></td>
    <td><%= link_to 'Edit', edit_account_transaction_path(current_account, transaction) %></td>
    <td><%= link_to 'Destroy', account_transaction_path(current_account, transaction),
        confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= button_to 'New Transaction', new_account_transaction_path(current_account), class: "btn large", method: :get %>

<%= button_to "Download Transactions as CSV",
    account_transactions_path(current_account, :format => "csv"), :class => "btn large", :method => :get -%>
