<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= current_transaction.account_name %>
</p>

<p>
  <b>amount:</b>
  <%= current_transaction.amount %>
</p>

<p>
  <b>Description:</b>
  <%= current_transaction.description %>
</p>


<%= link_to 'Edit', edit_account_transaction_path(current_account, current_transaction) %> |
<%= link_to 'Back', account_transactions_path(current_account) %>
