<div class="accounts">
  <h2>Your Accounts</h2>
  <div class="accounts">
  <% current_user.accounts.each do |curr_account| %>
    <div class="account" data-role="collapsible" data-collapsed="true" id="<%= dom_id curr_account -%>">
      <h3><%= link_to curr_account.name, curr_account -%> (<%= number_to_currency(curr_account.current_balance) -%>)</h3>
      <p><%= link_to "New Transaction for account", new_account_transaction_path(curr_account) -%></p>
      <%= recent_transactions_widget_for(curr_account) -%>
    </div>
  <%- end -%>
  </div>
</div>
