<h1>Your Accounts</h1>

<table>
  <thead><tr>
    <th>Name</th>
    <th>Current balance</th>
    <th>Current balance + Pending Transactions</th>
    <th>Starting balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>

<tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= number_to_currency( account.current_balance_active_only ) -%></td>
      <td><%= number_to_currency( account.current_balance ) -%></td>
      <td><%= number_to_currency(account.starting_balance) %></td>
      <td><%= link_to 'Show', account %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</tbody>

</table>

<br />

<%= button_to 'New Account', new_account_path, class: "btn large", method: "get" %>

<%= button_to "Download Accounts as CSV", 
    accounts_path(:format => "csv"), :class => "btn large", :method => :get -%>