.account_menu
  %h1
    Add New Transaction

  = link_to 'New Transaction', new_account_transaction_path(@account)

%h1
  Account Info

= show_for account do |a|
  = a.attribute :name
  = a.attribute :current_balance
  = a.attribute :current_balance_active_only
  = a.attribute :starting_balance

%ul.menu
  %li
    = link_to 'Edit', edit_account_path(@account)
  %li
    = link_to 'Back', accounts_path
  %li
    = link_to "Transactions for this Account", account_transactions_path(account)
